html, body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    line-height: 30px;
    font-family: "OpenSans", "Arial", sans-serif;
    text-transform: none;
    text-decoration: none;
    font-weight: 400;
}

   @font-face {
    font-family: "OpenSans Light";
    src: url(/fonts/opensanslight.woff2);
   }

   @font-face {
    font-family: "OpenSans Light";
    src: url(/fonts/opensanslight.woff);
   }

   @font-face {
    font-family: "OpenSans";
    src: url(/fonts/opensans.woff2);
   }

    @font-face {
    font-family: "OpenSans";
    src: url(/fonts/opensans.woff);
   }

   @font-face {
    font-family: "Gilroy ExtraBold";
    src: url(/fonts/gilroyextrabold.woff2);
    font-weight: 800;
   }

      @font-face {
    font-family: "Gilroy ExtraBold";
    src: url(/fonts/gilroyextrabold.woff);
    font-weight: 800;
   }

     @font-face {
    font-family: "Gilroy Light";
    src: url(/fonts/gilroylight.woff2);
   }

   @font-face {
    font-family: "Gilroy Light";
    src: url(/fonts/gilroylight.woff);
   }