.info-contacts {
    display: flex;
    flex-direction: row;
    margin-top: 41px;

    &__list {
        margin-top: 71px;
        margin-left: -5px;
        letter-spacing: 0.7px;
        font-family: "Gilroy ExtraBold";
    }

    &__item {
        margin-bottom: 10px;
    }
}

.info,
.contacts {
    width: 580px;
}

.contacts {
    margin-left: 40px;
    margin-right: 6px;
}

.info-contacts__title {
    font-size: 47px;
    font-family: "Gilroy ExtraBold";
    letter-spacing: 0.9px;
    margin-bottom: 25px;
    margin-bottom: 52px;
    margin-left: -3px;
}

.info-contacts__text {
    width: 560px; 
    font-size: 15px;
    font-weight: 30px;
    font-family: "OpenSans Light";
    letter-spacing: 0.1px;
    margin-bottom: 30px;
}

/*!!!!!!!1
.info  .info-contacts__text:nth-child(2) {
    letter-spacing: -0.19px;
}
*/
