.logotypes {
    height: 166px;
    padding-top: 94px;
    display: flex;
    flex-direction: row;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); 
}

.logotypes__logo img {
    margin-right: 40px;
    opacity: 0.2;

    &:hover {
        opacity: 1;
        transition: .2s ease-in;
        /*PORCHE????!!!!
        -webkit-filter: grayscale(0);
        filter: grayscale(0); 
        */
    }
}