.page-footer {
    background-color: @color-logo-hover;
    margin-top: 82px;
}

.logo-navigation__wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 74px;
    justify-content: space-between;
}

.main-nav__wrapper {
    margin-top: -16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    padding-bottom: 63px;    
}

.social__social-links {
    margin-left: 29px;
}

.social-link {
    font-size: 0;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    width: 39px;
    height: 40px;
    background-image: url("../img/sprite-icon.png");
    background-repeat: no-repeat;
    opacity: 0.3;

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.1;
    }
}

.social-link:not(:last-child) {
    margin-right: 12px;
}

.social-link--fb {
    background-position: 0px 0px;
}

.social-link--instagram {
    background-position: -47px 0px;
}

.social-link--twitter {
    background-position: -92px 0px;
}

.line {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 7px;
        background-color: #fff;
        top: 17px;
        left: 0;
    }
}

.page-footer__copyright-link {
    font-size: 0;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    width: 29px;
    height: 38px;
    //background-image: url(../img/sprite-icons.png);
    //background-repeat: no-repeat;
    //background-position: -135px 3px;
    margin-right: -2px;
    margin-top: 3px;
    fill: @color-yellow;

    &:hover {
        fill: @color-yellow-hover;
    }

    &:active {
        fill: @color-yellow-hover;
        opacity: 0.3;
    }
}